<br><app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-body">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Product Image</label>
                        <input name="image" [(ngModel)]="image" class="form-control" type="file" id="formFile">
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Title</label>
                    <input name="title" [(ngModel)]="title" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Description</label>
                    <input name="description" [(ngModel)]="description" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Rate</label>
                    <input name="price" [(ngModel)]="price" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Seller Name</label>
                    <input name="seller" [(ngModel)]="seller" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Quantity</label>
                    <input name="quantity" [(ngModel)]="quantity" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <button (click)="readValue()" class="btn btn-dark">Submit</button>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
